* {
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 24px 0px 24px 0px;
    box-shadow: 0px 0px 8px #00000017;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

span {
    color: #112741;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

p {
    padding: 6px 16px;
}

.active {
    background: transparent linear-gradient(90deg, #FFD100 0%, #FFD10069 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
    color: #000000DE;
}

li {
    list-style-type: none;
}