<!-- profile-sidenav -->
<div class="profile-sidenav">
    <div class="card mh-100">
        <div class="sidenavdetails">
            <li routerLinkActive="active" style="margin-top: 16px;">
                <a [routerLink]="['/search']">
                    <p> <img src="{{search}}">&nbsp;&nbsp;<span>Search Friends</span></p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/notification']">
                    <p> <img src="{{notifications}}">&nbsp;&nbsp;<span>Notifications</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/privacy']">
                    <p> <img src="{{privacy}}">&nbsp;&nbsp;<span>Privacy Policy</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/help']" routerLinkActive="active">
                    <p> <img src="{{help}}">&nbsp;&nbsp;<span>Help and Support</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/settings']">
                    <p> <img src="{{settings}}">&nbsp;&nbsp;<span>Settings</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/changepassword']">
                    <p> <img src="{{key}}">&nbsp;&nbsp;<span>Change Password</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/aboutUs']">
                    <p> <img src="{{privacy}}">&nbsp;&nbsp;<span>About Us</span>
                    </p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/termsandconditions']">
                    <p> <img src="{{help}}">&nbsp;&nbsp;<span>Terms & Conditions</span>
                    </p>
                </a>
            </li>
        </div>
    </div>
</div>