* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
}

.notification {
    margin: 24px 0px 16px 0px;
}

.notificationlist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 8px;
}

.list {
    margin: 32px 0px;
}

.not-icon {
    height: 60px;
    width: 60px;
    box-shadow: 0px 3px 6px #FFD1000F;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
}

.title {
    font-size: 20px;
    color: #000000;
}

.sub-title {
    color: #CBCBCB;
    font-size: 15px;
}