<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="notification col-lg-9">
            <div class="card">
                <div class="notificationlist">
                    <p class="header">Notifications</p>
                    <div class="row list" *ngFor="let fa of notifictionlist; let i=index;">
                        <!-- <img src="{{fa.profile_pic}}" class="not-icon"> -->
                        <div class="not-icon" *ngIf="fa.profile_pic;">
                            <img class="not-icon" src="{{fa.profile_pic}} ">
                        </div>
                        <div class="not-icon" *ngIf="!fa.profile_pic;">
                            <img class="not-icon" src="{{defaultpic}} ">
                        </div>
                        <div class="col">
                            <div class="title">{{fa.notification_list.ndetails}}</div>
                            <div class="sub-title">{{fa.commenttime}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>