* {
    font-family: 'Roboto', sans-serif;
}

.chat {
    margin: 24px;
}

.image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.inbox_people {
    opacity: 1;
    float: left;
    overflow: hidden;
}

.chat_ib h5 {
    font-size: 18px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.img-sm {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.chat_img {
    float: left;
    width: 12%;
    border-radius: 50%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    min-height: 550px;
    overflow: auto;
    overflow-y: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    opacity: 1;
}

.chathist {
    height: 429px;
    overflow: auto;
    overflow-y: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.incoming_msg_img {
    display: inline-block;
    width: 8%;
    margin-left: 16px;
    border-radius: 50%;
}

.received_msg {
    display: inline-block;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #4D4F5C;
    font-size: 14px;
    margin: 8px;
    padding: 5px 10px 5px 12px;
}

.time_date {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    color: #000;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    text-align: center;
    margin: 8px;
}

.mesgs {
    float: left;
    padding: 24px 16px 0px 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    opacity: 1;
}

.sent_msg {
    display: flex;
    float: right;
    background: #112741 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    margin: 8px;
    padding: 5px 10px 5px 12px;
}

.outgoing_msg {
    overflow: hidden;
}

.input_msg_write input {
    color: #979797;
    font-size: 14px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    margin: 16px 0px;
    height: 48px;
}

.titledisply {
    height: 37px;
}

.msg_send_btn {
    background: #112741 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    margin-right: 4px;
    width: 33px;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    border-radius: 2px;
    opacity: 1;
    font-size: 16px;
    color: #272343;
    height: 51px;
}