* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
    height: 300px;
}

.settings {
    margin: 24px 0px 16px 0px;
}

.settingslist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 8px;
}

ul {
    margin-top: 24px;
}

li {
    margin: 24px 24px 24px 0px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
}

.right_icon {
    float: right;
    margin-right: 24px;
    height: 16px;
    width: 12px;
}

.modal-title {
    font-size: 18px;
    color: #112741;
}

.top {
    margin: 16px 8px;
}

.form-control:focus {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    border-radius: 2px;
    opacity: 1;
    height: 51px;
    color: #272343;
    font-size: 16px;
}

.img-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.title {
    margin: 8px;
    columns: #000000DE;
}

.btn-default {
    float: right;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D55D5D;
    border-radius: 4px;
    opacity: 1;
    color: #D55D5D;
    height: 36px;
}

.logoutbuttons,
.deleteaccountbuttons {
    margin: 16px 8px 24px 8px;
}

.cancelbutton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #112741;
    border-radius: 6px;
    color: #112741;
    margin: 2px;
}

.logoutbutton,
.deleteaccountbutton {
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #FFFFFF;
    margin: 2px;
}