<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="settings col-lg-9">
            <div class="card">
                <div class="settingslist">
                    <p class="header">Settings</p>
                    <div class="">
                        <ul style="list-style-type:none;">

                            <li data-toggle="modal" data-target="#blockedusersmodel" (click)="blockedUsers()">
                                <span class="text">Blocked Users</span> <img src="{{settingsRightarrow}}" class="right_icon">
                            </li>
                            <!--Blocked users Modal -->
                            <div class="modal fade" id="blockedusersmodel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="blockedusersmodelLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="blockedModalLabel">Blocked Users</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="align-items-center" style="padding-bottom: 16px;">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" [(ngModel)]="searchedKeywordforblockusers" placeholder="Search Friends" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" style="background-color: white;">
                                                                              <img src="{{search}}" class="icon" />
                                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="blockedUserslist" *ngFor="let user of blockusers | filter:searchedKeywordforblockusers">
                                                    <div class="row top">
                                                        <!-- <img class="img-circle img-sm" src="{{user.profile_pic}}"> -->
                                                        <div class="" *ngIf="user.profile_pic;">
                                                            <img class="img-circle img-sm" src="{{user.profile_pic}} ">
                                                        </div>
                                                        <div class="" *ngIf="!user.profile_pic;">
                                                            <img class="img-circle img-sm" src="{{defaultpic}} ">
                                                        </div>

                                                        <div class="col title">
                                                            <span class="titlename">{{user.fullname}}</span>
                                                        </div>
                                                        <button type="submit" class="btn btn-default" (click)="unblockuserclick(user.user_id)" data-dismiss="modal">Unblock</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <li data-toggle="modal" data-target=".deleteaccount-modal-sm"><span class="text">Delete account</span> <img src="{{settingsRightarrow}}" class="right_icon"> </li>
                            <!-- Deleteaccount Modal -->
                            <div class="modal fade deleteaccount-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="logoutModelLabel">Delete Account</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="" style="color: #000000;">Are you sure want to delete your account?</h6>
                                        </div>
                                        <div class="row deleteaccountbuttons">
                                            <div class="col-sm-5">
                                                <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="submit" value="Delete Account" (click)="deleteaccount()" data-dismiss="modal" class="btn btn-secondary deleteaccountbutton btn-block">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>