<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="privacy col-lg-9">
            <div class="card">
                <div class="privacylist">
                    <!-- <p class="header">Terms and Conditions</p> -->
                    <div class="list" *ngFor="let fa of terms; let i=index;">
                        <!-- {{fa.discription}} -->
                        <p class="title-highlights" [innerHTML]="fa | linebreak"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner></app-spinner>