.img {
    max-height: 100vh;
    width: 100%;
}

.arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

#myCarousel {
    width: 100%;
    margin: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}