<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="" style="cursor: pointer;">
                    <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let p of data?.split(',');let i =index;">
                        <div class="" *ngIf="type=='image'"><img class="img" accept="image/*" src="{{p}}"></div>
                        <div class="" *ngIf="type=='video'">
                            <video class="img" id="video1" controls accept="video/*">
                                <source src="{{p}}" type="video/mp4">
                            </video>
                        </div>

                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <img src="{{arrowleft}}" class="arrow">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <img src="{{arrowright}}" class="arrow">
                <span class="sr-only">Next</span></a>
        </div>


    </div>
</div>