<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-md-10 col-lg-10 mx-auto">
        <div class="chat">
            <div class="col-md-5 inbox_people">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="searchedKeywordforchat" placeholder="Search Friends" />
                        <!-- <div class="input-group-append">
                            <span class="input-group-text" [routerLink]="['/chatList']" style="background-color: white; cursor: pointer;outline: none;">
                                <img src="{{search}}" class="icon"/>
                            </span>
                        </div> -->
                    </div>
                </div>

                <div class="inbox_chat">
                    <div class="chat_list" *ngFor="let firendslist of friendlistArray | filter:searchedKeywordforchat" (click)="chathistorybyId(firendslist.user_id, firendslist.fullname, firendslist.profile_pic)" style="cursor: pointer;">
                        <div class="chat_people">
                            <div class="" *ngIf="!firendslist.profile_pic;">
                                <div class="chat_img"> <img src="{{defaultpic}}" class="image"> </div>
                            </div>
                            <div class="" *ngIf="firendslist.profile_pic;">
                                <div class="chat_img"> <img src="{{firendslist.profile_pic}}" class="image"> </div>
                            </div>
                            <div class="chat_ib">
                                <h5>{{firendslist.fullname}} </h5>
                                <div class="chat_date" style="font-size: 14px;">{{firendslist.username}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 mesgs">
                <div class="msg_history">
                    <div class="titledisply">
                        <div class="row" [hidden]="!visibility">
                            <div class="incoming_msg_img">
                                <div class="" *ngIf="!pic;">
                                    <img class="image img-sm" src="{{defaultpic}} ">
                                </div>
                                <div class="" *ngIf="pic;">
                                    <img class="img-circle img-sm" src="{{pic}} ">
                                </div>

                            </div>
                            <div class="col">
                                <div class="name" style="color: #272343; font-size: 14px; font-weight: 400;">{{name}}</div>
                                <div class="" style="font-size: 12px; color: #000000;">Available</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="chathist" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div class="" [hidden]="visibility" style="text-align: center; font-size: 24px;color: #272343; margin-top: 24px;">Stay Connected
                        </div>
                        <div class="" *ngFor="let history of chatHistoryArray;">
                            <div class="">
                                <div class="time_date">{{history.Date}}</div>
                                <div class="" *ngFor="let datewisedata of history.ChatData;">
                                    <div class="incoming_msg">
                                        <div class="received_msg" *ngIf="datewisedata.from_id == datewisedata.user_id;">{{datewisedata.description}}</div>
                                        <div *ngIf="datewisedata.from_id == datewisedata.user_id;" style="margin-left: 8px; font-size: 10px;">{{datewisedata.time}}</div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg" *ngIf="datewisedata.to_id == datewisedata.user_id;">{{datewisedata.description}}</div><br><br>
                                        <div *ngIf="datewisedata.to_id == datewisedata.user_id;" style="float: right;margin-right: 8px; font-size: 10px;">{{datewisedata.time}}</div>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form>
                            <div class="input-group" [hidden]="!visibility">
                                <input type="text" class="form-control" [(ngModel)]="clearinput" #senddata name="senddata" (keyup.enter)="sendmessage(senddata.value)" placeholder="Type your message here..." />
                                <!-- <div class="form-group">
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                aria-hidden="true"  (click)="sendmsg(view.feed_list.sid)"></i></button>
                    </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-spinner></app-spinner>