<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="friendsprofile">
            <div class="row top">
                <div class="" *ngIf="!profilepic">
                    <img class="img-circle img-profile" alt="Profile Picture" src="{{defaultpic}}">
                </div>
                <div class="" *ngIf="profilepic">
                    <img class="img-circle img-profile" alt="Profile Picture" src="{{profilepic}}">
                </div>
                <div class="col usernamedetails">
                    <span class="" style="font-size: 32px; color: #272343;">{{fullname}}</span><br>
                    <span class="" style="font-size: 24px;">{{username}}</span>

                    <div class="listmodels" style="margin-top: 24px;" (click)="followerslistshow()" data-toggle="modal" data-target="#followersmodel">
                        <img class="listicons" alt="Profile Picture" src="{{userlike}}"> <span class="listdetails">{{followerscount}}
                            Followers</span>
                    </div>&nbsp;&nbsp;
                </div>
                <div class="top-side-img" style="float: right;">
                    <div class="row">
                        <button type="submit" class="btn btn-default height: 38px; btn-block" style="cursor: context-menu;"> <img class="listicons"
                                alt="" src="{{followingRight}}" style="width: 18px; height: 18px; margin-top: 2px;">
                            Friends</button>
                        <div class="nav-item dropdown">
                            <div class="friendsdropdown" style="cursor: pointer;" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="" alt="" src="{{sideDots}}" style="align-items: center;">
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="" (click)="blockuser()" style="cursor: pointer; font-family: 'Roboto', sans-serif; font-size: 16px; color: #000000;">
                                        <img src="{{blockUser}}">&nbsp;&nbsp;&nbsp;Block User
                                    </li>
                                    <li class="" (click)="UnFriend()" style="cursor: pointer; font-family: 'Roboto', sans-serif; font-size: 16px; color: #000000;">
                                        <img src="{{unFriend}}">&nbsp;&nbsp;&nbsp;Un Friend
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="{{comment}}" [routerLink]="['/chatList']" style="cursor: pointer;outline: none; margin:24px;" width="24px" height="24px">
                    </div>
                </div>
            </div>

            <div class="" *ngFor="let view of viewlist;">
                <div class="card" *ngIf="view.feed_list.prvcy ==Publiccheck">
                    <div class="row top">
                        <!-- <img class="img-circle img-sm" alt="Profile Picture" src="{{view.profileimg}}"> -->
                        <!-- <img class="img-circle img-sm" alt="Profile Picture" src="{{view.profile_pic}}"> -->
                        <div class="" *ngIf="view.profile_pic;">
                            <img class="img-circle img-sm" src="{{view.profile_pic}} ">
                        </div>
                        <div class="" *ngIf="!view.profile_pic;">
                            <img class="img-circle img-sm" src="{{defaultpic}} ">
                        </div>
                        <div class="col">
                            <span class="titlename">{{view.fullname}}</span><br>
                            <span class="title-time">{{view.cd}}</span>
                        </div>
                        <div class="top-side-img" style="float: right;">
                            <img class="" src="{{sideDots}}">
                        </div>
                    </div>

                    <div class="row mx-0" *ngIf="view.imgf && (view.imgf?.split(',').length==1 || view.imgf?.split(',').length==2);">
                        <div class="col px-0" *ngFor="let p of view.imgf?.split(','); let i=index">
                            <img class="img" src="{{p}}" (click)="fullviewclick(view.imgf)">
                        </div>
                    </div>

                    <div class="row mx-0" *ngIf="view.imgf && view.imgf?.split(',').length>2;">
                        <div class="col-sm-4 col-md-4 px-0" *ngFor="let p of view.imgf?.split(','); let i=index">
                            <div class="" *ngIf="i<3">
                                <img class="img" src="{{p}}" (click)="fullviewclick(view.imgf)">
                                <div class="overlay">
                                    <p *ngIf="i == 2" class="restImages"> + {{view.imgf?.split(',').length-3}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-0" *ngIf="view.vf && (view.vf?.split(',').length ==1 || view.vf?.split(',').length==2);">
                        <div class="col px-0" *ngFor="let p of view.vf?.split(','); let i=index" (click)="fullviewclick1(view.vf)">
                            <video class="img" id="video1" width="100%" controls>
                            <source src="{{p}}" type="video/mp4">
                        </video>
                        </div>
                    </div>

                    <div class="row mx-0" *ngIf="view.vf && view.vf?.split(',').length>2;">
                        <div class="col-sm-4 col-md-4 px-0" *ngFor="let p of view.vf?.split(','); let i=index" (click)="fullviewclick1(view.vf)">
                            <div class="" *ngIf="i<3">
                                <video class="img" id="video1" width="100%" controls>
                            <source src="{{p}}" type="video/mp4">
                        </video>
                            </div>
                            <div class="overlay">
                                <p *ngIf="i == 2" class="restImages"> + {{view.vf?.split(',').length-3}}</p>
                            </div>
                        </div>
                    </div>

                    <p class="card-text ">{{view.feed_list.feed}}</p>
                    <div class="row card-text" style="display: inline;">
                        <span class="" *ngIf="view.likes==0">
                    <span (click)="feedlikeslist(view.feed_list.sid)" style="cursor: pointer;"><img class="like" alt="Profile Picture" src="{{like}} ">&nbsp;<span >{{view.likes_count}}</span></span>
                        </span>
                        <span class="" *ngIf="view.likes==1">
                    <span (click)="feeddislikeslikeslist(view.feed_list.sid)" style="cursor: pointer;"><img class="like" alt="Profile Picture"  src="{{likeColor}} ">&nbsp;<span >{{view.likes_count}}</span></span>
                        </span>&nbsp;&nbsp;
                        <span class="" *ngIf="!view.imgf && view.dislike==0">
                        <span (click)="feeddisdislikeslikeslistblack(view.feed_list.sid)" style="cursor: pointer;"><img class="like" alt="Profile Picture" src="{{dislike}} ">&nbsp;<span >{{view.dislike_count}}</span></span>
                        </span>
                        <span class="" *ngIf="!view.imgf && view.dislike==1">
                        <span (click)="feeddisdislikeslikeslistcolor(view.feed_list.sid)" style="cursor: pointer;"><img class="like" alt="Profile Picture"  src="{{dislikeColor}} ">&nbsp;<span >{{view.dislike_count}}</span></span>
                        </span>
                        <span class=" " style="float: right;">
                        <span class="" *ngIf="view.imgf !== '' || view.vf !== ''">    
                        <img class=" " alt="Profile Picture " src="{{eye}}" style="width: 32px; height: 12px;">&nbsp;<span>{{view.viwes}}</span></span>&nbsp;&nbsp;
                        <span (click)="feedcommentlist(view.feed_list.sid)" data-toggle="modal" data-target="#commentmodel" style="cursor: pointer;"><img class=" "  alt="Profile Picture " src="{{comment}}" >&nbsp;<span>{{view.comments_count}}</span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--followers Modal -->
    <div class="modal fade" id="followersmodel" tabindex="-1" role="dialog" aria-labelledby="followersmodelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="friendsModalLabel">Followers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="align-items-center" style="padding: 12px 16px;">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" [(ngModel)]="searchedKeywordforfollowers" placeholder="Search Friends" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: white;">
                                            <img src="{{search}}" class="icon" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top" data-dismiss="modal" *ngFor="let list of viewfollowerslist | filter:searchedKeywordforfollowers">
                            <div class="row">
                                <div class="" *ngIf="!list.profile_pic">
                                    <img class="img-circle img-sm" alt="Profile Picture" src="{{defaultpic}}">
                                </div>
                                <div class="" *ngIf="list.profile_pic">
                                    <img class="img-circle img-sm" alt="Profile Picture" src="{{list.profile_pic}}">
                                </div>
                                <!-- <img class="img-circle img-sm" alt="Profile Picture" src="{{list.profile_pic}}"> -->
                                <div class="col title">
                                    <a class=""><span class="titlename">{{list.fullname}}</span></a>
                                </div>
                                <div class="top-side-img" style="float: right;">
                                    <img class="" alt="Profile Picture" src="{{sideDots}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--comment Modal -->
    <div class="modal fade" id="commentmodel" tabindex="-1" role="dialog" aria-labelledby="commentmodelScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="height: 635px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Comment List</h5>
                    <button type="button" class="close" #closecommentmodel data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" *ngFor="let comment of commentlist;">
                        <div class="row top1">
                            <div class="" *ngIf="!comment.profile_pic">
                                <img class="img-circle img-sm1" alt="Profile Picture" src="{{defaultpic}}">
                            </div>
                            <div class="" *ngIf="comment.profile_pic">
                                <img class="img-circle img-sm1" alt="Profile Picture" src="{{comment.profile_pic}}">
                            </div>
                            <!-- <img class="img-circle img-sm" alt="Profile Picture" src="{{profile}}"> -->
                            <div class="col">
                                <span class="titlename1">{{comment.fullname}}</span><br>
                                <span class="title-time1">{{comment.commenttime}}</span>
                            </div>
                        </div>
                        <div class="card-text1" style="float: left;">{{comment.userDetails.comment}}</div>
                    </div>
                </div>
                <form [formGroup]="commentForm" (ngSubmit)="commentsubmit()">
                    <div class="modal-footer" style="margin-left: 16px; margin-right: 16px;">
                        <div class="form-group mr-auto" style="min-width: 90%">
                            <div class="input-group">
                                <input type="text" formControlName="comment" class="form-control" placeholder="Comment" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="commentsubmitbutton"> <i class="fa fa-arrow-circle-right"
                                    style="font-size:36px;cursor: pointer; margin-top: 6px;"></i></label>
                            <input type="submit" id="commentsubmitbutton" style="display:none">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- imgefullpopup Modal -->
    <button id="imagepopupModel" #imagepopupModel [hidden]="true" data-target=".imagepopupModel-modal-lg" data-toggle="modal"></button>
    <div class="modal fade imagepopupModel-modal-lg" tabindex="-1" role="dialog" aria-labelledby="imagepopupModelLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModelLabel" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Full View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="" style="cursor: pointer;">
                                <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let p of fullviewclickdata?.split(',');let i =index;">
                                    <div class="" *ngIf="fullviewclickdatatype=='image'"><img class="imgpopup" accept="image/*" src="{{p}}"></div>
                                    <div class="" *ngIf="fullviewclickdatatype=='video'">
                                        <video class="imgpopup" id="video1" controls accept="video/*">
                                <source src="{{p}}" type="video/mp4">
                            </video>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <img src="{{arrowleft}}" class="arrow">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <img src="{{arrowright}}" class="arrow">
                            <span class="sr-only">Next</span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <app-spinner></app-spinner>