<div class="login-wrapper bg-pattern_set">
    <div class="topbar">
        <div class="card" style="height: 80px;">
            <div class="container">
                <img class="logo" src="{{ logo }}" alt="" />&nbsp;<span class="fctitle" style="font-weight: bold; font-size: 24px; font-family: 'Roboto', sans-serif; color: #112741;">FollowConnect</span>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding:32px 48px">
        <div class="row justify-content-center h-100">
            <div class="col-xl-11 col-lg-12 mx-auto">
                <div class="card m-4">
                    <div class="d-md-flex bg-white shadow-b-3 rounded-10 w-100 py-md-8 py-5">
                        <div class="col-lg-6">
                            <div class="mt-6">
                                <img src="{{ left_image }}" alt="" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 mt-4 mt-md-0">
                            <div class="col-lg-10 mx-auto">
                                <div style="font-weight: bold; font-size: 24px; font-family: 'Roboto', sans-serif; color: #112741;">Login</div>
                                <div class="tab-content mt-4" id="myTabContent">
                                    <form class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <div class="col-xl-12">
                                            <div class="align-items-center">
                                                <label class="font-weight-semibold fs-16" style="color: #707070;font-family: 'Roboto', sans-serif;">Username</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" formControlName="username" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                                        <div class="input-group-append" (click)="usernameclear()" style="cursor: pointer;">
                                                            <span class="input-group-text" style="background-color: white;">
                                                              <img src="{{usernameCross}}" class="icons" />
                                                        </span>
                                                        </div>
                                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                            <div *ngIf="f.username.errors.required">{{usernameValidation}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1">
                                            <div class="align-items-center">
                                                <label class="font-weight-semibold fs-16" style="color: #707070;font-family: 'Roboto', sans-serif;">Password</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style="background-color: white;">
                                                              <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }" (click)="toggleFieldPassword()" ></i>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                            <div *ngIf="f.password.errors.required">{{passwordValidation}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="text-right mb-4">
                                                <a routerLink="/forgotPassword" class="forgot font-weight-semibold" style="color: #112741; font-weight: 400;">Forgot Password?</a>
                                            </div>

                                            <div class="form-group mb-0 mt-6 d-flex justify-content-between align-items-center mb-0">
                                                <input type="submit" value="Sign in" class="btn btn-default px-4 py-2 fs-16" style="width: 100%" />
                                            </div>
                                            <!-- <div *ngIf="error" class="alert alert-danger mt-4" role="alert" style="text-align: center;">
                                                {{error}}
                                            </div> -->
                                            <div class="text-center mt-4">
                                                <label class=" fs=14" style="color: #707070;font-family: 'Roboto', sans-serif;">or Login with</label>
                                            </div>
                                            <div class="form-group mb-0 mt-0 text-center" (click)="socialSignIn('google')" style="cursor: pointer;">
                                                <img src="{{ googleIcon}}" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-center mt-4">
                                    <div style="color: #979797; font-size: 18px; font-weight: 400;font-family: 'Roboto', sans-serif;">
                                        Don't have an account? <a routerLink="/register" class="signin font-weight-semibold" style="color:#112741;">Sign Up</a>
                                    </div>

                                     <div class="privy-policy"><span routerLink="/privacypolicy" >Privacy Policy</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>