<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="intoto">
            <p style="font-size: 24px; color: #272343; font-weight: 600; margin-top: 16px;">Private Videos</p>
            <div class="row intotolist">
                <div class="col-md-12" *ngFor="let view of viewintotolist;">
                    <div class="" *ngIf="view.feed_list.prvcy=='Private'">
                        <div class="" *ngIf="view.vf">
                            <div class="intotolist">
                                <div class="titlename" style="padding: 16px; color: #112741; font-weight:500;">
                                    {{view.feed_list.date}}
                                </div>

                                <div class="row" *ngIf="view.vf;" style="cursor: pointer;">
                                    <div class="col-6" *ngFor="let p of view.vf?.split(',')" (click)="fullviewclick(p)">
                                        <video class="img" id="video1" width="100%" controls>
                                        <source src="{{p}}"  type="video/mp4" class="img">
                                    </video>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>