* {
    font-family: 'Roboto', sans-serif;
}

.intoto {
    margin: 24px;
}

.intotolist {
    margin-top: 32px;
}

.img {
    height: 425px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin: 8px;
}

@media only screen and (max-width: 600px) {
    .img {
        height: 200px;
        width: 100%;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        margin: 8px;
    }
}