<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="uploadimg">
            <div class="" data-toggle="modal" data-target="#uploadmodel" style="  font-family: 'Roboto', sans-serif;color: #272343; margin: 12px; cursor: pointer; font-size: 16px;">
                <span>Upload / Search Something..</span>
                <img class="" style="float: right;" alt="Profile Picture" src="{{add}}">
            </div>
        </div>

        <div class="card" *ngFor="let view of viewlist;">
            <div class="row top">
                <div class="" *ngIf="view.profile_pic;">
                    <img class="img-circle img-sm" src="{{view.profile_pic}} ">
                </div>
                <div class="" *ngIf="!view.profile_pic;">
                    <img class="img-circle img-sm" src="{{defaultpic}} ">
                </div>

                <div class="col">
                    <span class="titlename">{{view.fullname}}</span><br>
                    <span class="title-time">{{view.cd}}</span>
                </div>
                <div class="top-side-img" style="float: right;">
                    <div class="nav-item dropdown">
                        <div class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="" alt="" src="{{sideDots}}" style=" font-size: 16px;  font-family: 'Roboto', sans-serif;cursor: pointer; padding: 4px;">
                        </div>
                        <ul class="dropdown-menu dropdown-menu-center" style="text-align:center;">
                            <li class="" *ngIf="view.vf!=''" (click)="sharefeeddetails(view.vf)" style=" font-size: 16px;  font-family: 'Roboto', sans-serif;cursor: pointer; padding: 4px;" data-toggle="modal" data-target="#sharefeedmodel">
                                Share
                            </li>
                            <li class="" (click)="editUserdetails(view)" style=" font-size: 16px;  font-family: 'Roboto', sans-serif;cursor: pointer; padding: 4px;" data-toggle="modal" data-target="#editmodel">
                                Edit
                            </li>
                            <li class="" (click)="deletefeeddetails(view.user_id, view.feed_list.sid)" style=" font-size: 16px;  font-family: 'Roboto', sans-serif;cursor: pointer; padding: 4px;" data-toggle="modal" data-target="#deletefeedmodel">
                                Delete
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mx-0" *ngIf="view.vf && (view.vf?.split(',').length ==1 || view.vf?.split(',').length==2);">
                <div class="col px-0" *ngFor="let p of view.vf?.split(','); let i=index" (click)="fullviewclick1(view.vf, view.feed_list.sid)">
                    <video class="img" id="video1" width="100%" controls>
                        <source src="{{p}}" type="video/mp4">
                    </video>
                </div>
            </div>

            <div class="row mx-0" *ngIf="view.vf && view.vf?.split(',').length>2;">
                <div class="col-sm-4 col-md-4 px-0" *ngFor="let p of view.vf?.split(','); let i=index" (click)="fullviewclick1(view.vf, view.feed_list.sid)">
                    <div class="" *ngIf="i<3">
                        <video class="img" id="video1" width="100%" controls>
                        <source src="{{p}}" type="video/mp4">
                    </video>
                    </div>
                    <div class="overlay">
                        <p *ngIf="i == 2" class="restImages"> + {{view.vf?.split(',').length-3}}</p>
                    </div>
                </div>
            </div>

            <p class="card-text ">{{view.feed_list.feed}}</p>
            <div class="row card-text" style="display: inline;">
                <span class="" *ngIf="view.likes=='0'">
                    <span (click)="feedlikeslist(view.feed_list.sid)" style="cursor: pointer;"><img class="like"
                            alt="Profile Picture" src="{{like}} ">&nbsp;<span>{{view.likes_count}}</span></span>
                </span>
                <span class="" *ngIf="view.likes=='1'">
                    <span (click)="feeddislikeslikeslist(view.feed_list.sid)" style="cursor: pointer;"><img class="like"
                            alt="Profile Picture"
                            src="{{likeColor}} ">&nbsp;<span>{{view.likes_count}}</span></span>
                </span>&nbsp;&nbsp;
                <span class="" *ngIf="view.dislike=='0'">
                    <span (click)="feeddisdislikeslikeslistblack(view.feed_list.sid)" style="cursor: pointer;"><img
                            class="like" alt="Profile Picture"
                            src="{{dislike}} ">&nbsp;<span>{{view.dislike_count}}</span></span>
                </span>
                <span class="" *ngIf="view.dislike=='1'">
                    <span (click)="feeddisdislikeslikeslistcolor(view.feed_list.sid)" style="cursor: pointer;"><img
                            class="like" alt="Profile Picture"
                            src="{{dislikeColor}} ">&nbsp;<span>{{view.dislike_count}}</span></span>
                </span>

                <span class=" " style="float: right;">
                    <img class=" " alt="Profile Picture " src="{{eye}}"
                        style="width: 32px; height: 12px;">&nbsp;<span>{{view.views}}</span>&nbsp;&nbsp;
                <span (click)="feedcommentlist(view.feed_list.sid)" data-toggle="modal" data-target="#commentmodel" style="cursor: pointer;"><img class=" " alt="Profile Picture "
                            src="{{comment}}">&nbsp;<span>{{view.comments_count}}</span></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!--comment Modal -->
<div class="modal fade" id="commentmodel" tabindex="-1" role="dialog" aria-labelledby="commentmodelScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="height: 635px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Comment List</h5>
                <button type="button" class="close" #closecommentmodel data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" *ngFor="let comment of commentlist;">
                    <div class="row top1">
                        <div class="" *ngIf="!comment.profile_pic">
                            <img class="img-circle img-sm1" alt="Profile Picture" src="{{defaultpic}}">
                        </div>
                        <div class="" *ngIf="comment.profile_pic">
                            <img class="img-circle img-sm1" alt="Profile Picture" src="{{comment.profile_pic}}">
                        </div>
                        <div class="col">
                            <span class="titlename1">{{comment.fullname}}</span><br>
                            <span class="title-time1">{{comment.commenttime}}</span>
                        </div>
                    </div>
                    <div class="card-text1" style="float: left;">{{comment.userDetails.comment}}</div>
                </div>
            </div>
            <form [formGroup]="commentForm" (ngSubmit)="commentsubmit()">
                <div class="modal-footer" style="margin-left: 16px; margin-right: 16px;">
                    <div class="form-group mr-auto" style="min-width: 90%">
                        <div class="input-group">
                            <input type="text" formControlName="comment" class="form-control" placeholder="Comment" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="commentsubmitbutton"> <i class="fa fa-arrow-circle-right"
                                style="font-size:36px;cursor: pointer; margin-top: 6px;"></i></label>
                        <input type="submit" id="commentsubmitbutton" style="display:none">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<!--upload Modal -->
<div class="modal fade" id="uploadmodel" tabindex="-1" role="dialog" aria-labelledby="uploadmodelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadmodelLabel" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Post</h5>
                <button type="button" class="close" #closeuploadmodel data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="uploadform" (ngSubmit)="uploadsubmit()">
                <div class="modal-body">
                    <div class="row top">
                        <div class="" *ngIf="!uploadprofile_pic">
                            <img class="img-circle img-sm" alt="Profile Picture" src="{{defaultpic}}">
                        </div>
                        <div class="" *ngIf="uploadprofile_pic">
                            <img class="img-circle img-sm" alt="Profile Picture" src="{{uploadprofile_pic}}">
                        </div>
                        <!-- <img class="img-circle img-sm" alt="Profile Picture" src="{{profile}}"> -->
                        <div class="col">
                            <span class="titlename">{{uploadfullname}}</span><br>
                            <span class="title-time">{{uploadusername}}</span>
                        </div>
                        <div class="top-side-img" style="float: right;" *ngIf="this.myvideoFiles.length>0">
                            <div class="input-group form-group">
                                <select id="category" formControlName="category" class="form-control" [(ngModel)]="selectedcategory">
                                    <option *ngFor="let cat of category;let i=index" [value]="cat.option"
                                        [selected]="i == '1'">{{cat.option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" formControlName="description" class="form-control" placeholder="Write something..." />
                    </div>

                    <div class="uploadimage" style="height: 200px;" *ngFor="let list of mydata;let i = index">
                        <div class="row" *ngIf="list.type == 'video'">
                            <div class="col-10"> <video [src]="list.url" height="200" width="300" style="display: block; margin: 0 auto;" controls></video></div>
                            <div class="col-2" style="cursor: pointer;" (click)="removevideosSelectedFile(i)"><img src="{{upload_cross}}"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group mr-auto" style="min-width: 70%">
                        <div class="input-group">

                            <label for="getFile"><i class="fa fa-video-camera"
                                    style="font-size:32px;color:#112741;cursor: pointer; margin-top: 4px; "></i></label>
                            <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" multiple />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Post" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- delete feed Modal -->

<div class="modal fade" id="deletefeedmodel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModelLabel" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <h6 class="" style="font-size: 16px; font-family: 'Roboto', sans-serif;color: #000000;">Are you sure want to Delete?</h6>
            </div>
            <div class="row logoutbuttons">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal" style="font-size: 16px; font-family: 'Roboto', sans-serif; color: #ffffff;">Cancel</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary feeddeletebutton btn-block" (click)="deletefeed()" data-dismiss="modal" style="font-size: 16px; font-family: 'Roboto', sans-serif; color: #ffffff;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="uploadmodelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadmodelLabel">Edit Feed</h5>
                <button type="button" class="close" #closeeditmodel data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="editfeedform" (ngSubmit)="editfeedsubmit()">
                <div class="modal-body">
                    <div class="row top">
                        <div class="" *ngIf="!uploadprofile_pic">
                            <img class="img-circle img-sm" alt="Profile Picture" src="{{defaultpic}}">
                        </div>
                        <div class="" *ngIf="uploadprofile_pic">
                            <img class="img-circle img-sm" alt="Profile Picture" src="{{uploadprofile_pic}}">
                        </div>
                        <div class="col">
                            <span class="titlename">{{uploadfullname}}</span><br>
                            <span class="title-time">{{uploadusername}}</span>
                        </div>
                        <div class="top-side-img" style="float: right;">
                            <div class="input-group form-group">
                                <select id="editcategory" formControlName="editcategory" class="form-control" [(ngModel)]="selectedcategory">
                              <option *ngFor="let cat of category;let i=index" [value]="cat.option" [selected]="i == '1'" >{{cat.option}}</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" [(ngModel)]="editfeeddescription" formControlName="editdescription" class="form-control" placeholder="Write something..." />
                    </div>
                    <div class="uploadimage">
                        <div class="row" *ngFor="let list of editvideos;let i = index">
                            <div class="col-10" *ngIf="list.length>0"> <video [src]="list.url" height="200" width="300" style="display: block; margin: 0 auto;" controls></video></div>
                            <div class="col-2" *ngIf="list.length>0" style="cursor: pointer;" (click)="removeeditvideoSelectedFile(i)"><img src="{{upload_cross}}"></div>
                        </div>
                    </div>

                    <div class="uploadimage" *ngFor="let list of mydata;let i = index">
                        <div class="row" *ngIf="list.type == 'video'">
                            <div class="col-10"> <video [src]="list.url" height="200" width="300" style="display: block; margin: 0 auto;" controls></video></div>
                            <div class="col-2" style="cursor: pointer;" (click)="removeeditvideosuploadSelectedFile(i)"><img src="{{upload_cross}}"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group mr-auto" style="min-width: 70%">
                        <div class="input-group">

                            <label for="getFile"><i class="fa fa-video-camera"
                                style="font-size:32px;color:#112741;cursor: pointer; margin-top: 4px; "></i></label>
                            <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Post" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- share feed Modal -->
<div class="modal fade" id="sharefeedmodel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModelLabel">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <share-buttons [theme]="'circles-dark'" [include]="['facebook','twitter','linkedin','pinterest','reddit','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','copy']" [show]="9" [size]="1" [showText]="true" [url]="image" [image]="image"
                    [autoSetMeta]="true" [showIcon]="image"></share-buttons>
            </div>

        </div>
    </div>
</div>

<!-- imgefullpopup Modal -->
<button id="imagepopupModel" #imagepopupModel [hidden]="true" data-target=".imagepopupModel-modal-lg" data-toggle="modal"></button>
<div class="modal fade imagepopupModel-modal-lg" tabindex="-1" role="dialog" aria-labelledby="imagepopupModelLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title" id="logoutModelLabel" style="font-size: larger; font-family: 'Roboto', sans-serif; color: #000000;">Full View</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="" style="cursor: pointer;">
                    <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let p of fullviewclickdata?.split(',');let i =index;">
                        <div class="" *ngIf="fullviewclickdatatype=='image'"><img class="imgpopup" accept="image/*" src="{{p}}"></div>
                        <div class="" *ngIf="fullviewclickdatatype=='video'">
                            <video class="imgpopup" id="video1" controls accept="video/*">
                                <source src="{{p}}" type="video/mp4">
                            </video>
                        </div>

                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <img src="{{arrowleft}}" class="arrow">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <img src="{{arrowright}}" class="arrow">
                <span class="sr-only">Next</span></a>
        </div>

            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>