* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
}

.searchfriends {
    margin: 24px 0px 16px 0px;
}

.searchfriendslist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 8px;
}

.header1 {
    font-size: 16px;
    color: #000000DE;
    font-weight: 400;
}

.icons {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.icon {
    cursor: pointer;
}

.form-control:focus {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    border-radius: 2px;
    opacity: 1;
    height: 51px;
    color: #272343;
    font-size: 16px;
}

.card2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    height: auto;
    text-align: center;
    padding: 0px 4px;
    cursor: pointer;
}

.text {
    text-align: center;
    margin: 2px 0px 0px 4px;
    color: #000000DE;
    font-size: 16px;
    font-weight: 400;
}

.list {
    margin: 16px 0px;
}