<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="searchfriends col-lg-9">
            <div class="card">
                <div class="searchfriendslist">
                    <div class="header">Search Friends</div>
                    <div class="">
                        <div class="align-items-center">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" #searchvalue (keyup.enter)="searchkey(searchvalue.value)" placeholder="Enter friends username" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: white;">
                                            <img src="{{search}}" class="icon" (click) ="searchkey(searchvalue.value)" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row friendslist">
                        <div class="list col-md-4" *ngFor="let fa of searchlist; let i=index;">
                            <div class="card card2" (click)="serachfriendclick()">
                                <div class="row">
                                    <div class="" *ngIf="!fa.imgf">
                                        <img src="{{defaultpic}}" class="icons">
                                    </div>
                                    <div class="" *ngIf="fa.imgf">
                                        <img src="{{fa.profile_pic}}" class="icons">
                                    </div>
                                    <span class="text">{{fa.fullname}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="header1">Recent Searches</p>
                    <div class="row friendslist">
                        <div class="list col-md-4" *ngFor="let fa of recentsearch; let i=index;">
                            <div class="card card2" (click)="serachrecentfriendclick(fa.user_id)">
                                <div class="row">
                                    <div class="" *ngIf="!fa.profile_pic">
                                        <img class="icons" src="{{defaultpic}}" class="icons">
                                    </div>
                                    <div class="" *ngIf="fa.profile_pic">
                                        <img class="icons" src="{{fa.profile_pic}}" class="icons">
                                    </div>
                                    <span class="text">{{fa.fullname}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>