  .container{
         padding:32px 96px;
     }

.followprofile {
    margin-top: 16px;
    margin-bottom: 16px;
}

.img-profile {
    height: 168px;
    width: 168px;
    padding: 8px;
    border-radius: 50%;
}

.usernamedetails {
    margin: 16px 24px;
}

.listdetails {
    margin: 16px 8px;
    font-size: 21px;
    color: #21212180;
    font-family: 'Roboto', sans-serif;
}

.listicons {
    height: 29px;
    width: 29px;
    margin-bottom: 8px;
}

.listmodels {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #21212180;
}

.btn-default {
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 6px;
    height: 48px;
    width: 168px;
    color: #FFFFFF;
    margin-top: 28px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.img-sm {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 32px;
}

.img {
    height: 420px;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 auto;
}

.top {
    margin-top: 16px;
    margin-bottom: 16px;
}

.top-side-img {
    margin-right: 32px;
}

.titlename {
    font-size: 18px;
    color: #000000DE;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.title-time {
    font-size: 14px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

.titlename1 {
    font-size: 16px;
    color: #000000DE;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.title-time1 {
    font-size: 14px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 4px;
    opacity: 1;
    margin: 16px 24px;
}

.card-text {
    color: #0000008A;
    font-size: 16px;
    margin: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 4px;
    opacity: 1;
    margin: 16px 24px;
}

.card-text {
    color: #0000008A;
    font-size: 16px;
    margin: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.form-control {
    background: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #454F632B;
    border-radius: 2px;
    opacity: 1;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-text1 {
    color: #00000099;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.right_icon {
    float: right;
    margin-right: 24px;
    height: 16px;
    width: 12px;
}

.modal-title {
    font-size: 18px;
    color: #112741;
}

.top {
    margin: 20px 0px;
}

.img-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.img-sm1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 32px;
    padding: 4px;
}

.title {
    margin: 6px;
    columns: #000000DE;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary {
    background: #112741 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 4px 12px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.feeddeletebutton {
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #FFFFFF;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
}

.logoutbuttons,
.deleteaccountbuttons {
    margin: 16px 8px 24px 8px;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 36%;
    z-index: 1000;
}

.restImages {
    color: #fff;
    font-size: 35px;
}
   /* fullimagepopup */
    .arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

#myCarousel {
    width: 100%;
    margin: auto;
}

.imgpopup {
    width: 100%;
    height: 480px;
}
@media only screen and (max-width: 600px) {
    .img {
        height: 200px;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        cursor: pointer;
    }
}