* {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    letter-spacing: 0.54px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

.logo {
    border-radius: 50%;
}

.profile {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.dropdown-item {
    font-size: 16px;
    background: none;
    color: #000000;
}

.dropdown-menu-right {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 6px #00000029; */
    opacity: 1;
    margin: 24px 6px 6px 6px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu a {
    font-size: 14px;
}

.active {
    color: #FFD100;
    text-decoration: underline;
    text-decoration-color: #FFD100;
}

.active a {
    color: #FFD100;
    text-decoration: underline;
}

.logoutbuttons,
.deleteaccountbuttons {
    margin: 16px 8px 24px 8px;
}

.logoutbutton {
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #FFFFFF;
}