<div class="card">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md justify-content-center">
            <a routerLink="/userprofile" class="navbar-brand d-flex w-20 mr-auto"><img src="{{logo}}" alt="logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item mx-4 pr-4" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/myView']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">MY VIEW</a>
                    </li>
                    <li class="nav-item mx-4 pr-4" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/intotoprivate']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">IN TOTO</a>
                    </li>
                    <li class="nav-item mx-4 pr-4" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/spoolvid']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">SPOOLVID</a>
                    </li>
                    <li class="nav-item mx-4 pr-4" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/chat']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">CHAT</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav mx-4 justify-content-end">
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <img class="icons" src="{{profilepic}}" class="profile" style="cursor: pointer;"> -->
                            <img class="" alt="Profile Picture" src="{{sideDots}}" style="cursor: pointer; padding: 8px;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="dropdown-item" [routerLink]="['/search']"><img src="{{search}}">&nbsp;&nbsp;Search Friends</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/notification']" href="#"><img src="{{notifications}}">&nbsp;&nbsp;Notifictions</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/settings']"><img src="{{settings}}">&nbsp;&nbsp;Settings</a>
                            </li>
                            <li data-toggle="modal" data-target=".logout-modal-sm">
                                <a class="dropdown-item" style="cursor: pointer;"><img src="{{logout}}">&nbsp;&nbsp;Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<!-- logout users Modal -->
<div class="modal fade logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModelLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <h6 class="" style="color: #000000;">Are you sure want to logout?</h6>
            </div>
            <div class="row logoutbuttons">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary logoutbutton btn-block" (click)="logoutclick()" data-dismiss="modal">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>