<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="intoto">
            <p style="font-size: 24px; color: #272343; font-weight: 600; margin-top: 16px;">Private Photos</p>
            <div class="row intotolist">
                <div class="col-md-12" *ngFor="let view of viewintotolist;">
                    <div class="" *ngIf="view.feed_list.prvcy=='Private'">
                        <div class="" *ngIf="view.imgf">
                            <div class="intotolist">
                                <div class="titlename" style="padding: 16px; color: #112741; font-weight:500;">
                                    {{view.feed_list.date}}
                                </div>
                                <div class="row" *ngIf="view.imgf;" style="cursor: pointer;">
                                    <div class="col-6" *ngFor="let p of view.imgf?.split(',')">
                                        <img class="img" alt="Profile Picture" src="{{p}}" #image (click)="fullviewclick(p)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-spinner></app-spinner>