<app-intoto></app-intoto>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="intoto">
            <div class="row intotolist">
                <div class="col-md-4" *ngIf="finalimage">
                    <div class="intotolist">
                        <a class="" [routerLink]="['/intotopublicphotos']">
                            <img class="img img-responsive" src="{{finalimage}}">
                            <p style="font-size: 18px; color: #272343; font-weight: 600; margin-top: 8px;">Photos</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-8" *ngIf="finalvideo">
                    <div class="intotolist">
                        <a class="" [routerLink]="['/intotopublicvideos']">
                            <!-- <img class="img img-responsive" src="{{finalvideo}}"> -->
                            <video class="img" id="video1" width="100%" controls>
                                <source src="{{finalvideo}}">
                            </video>
                            <p style="font-size: 18px; color: #272343; font-weight: 600; margin-top: 8px;">Videos</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-spinner></app-spinner>