.intoto {
    margin: 24px;
}

.intotolist {
    margin-top: 32px;
}

.img {
    height: 216px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}