* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #4E4E4E29;
    opacity: 1;
}

.btn-default {
    background: #112741 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 48px;
    color: #FFFFFF;
}

.label {
    color: #000000;
}

.img-profile {
    height: 198px;
    width: 198px;
    border-radius: 50%;
    cursor: pointer;
}

.input-group {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.form-control {
    background: #FFFFFF;
}

.input-group-text,
.input-group-prepend {
    background: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
}

.form-control {
    background: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #454F632B;
    border-radius: 2px;
    opacity: 1;
    height: 48px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label {
    font-size: 14px;
    color: #707070;
    cursor: pointer;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media only screen and (min-width: 600px) {
    .img-profile {
        height: 198px;
        width: 198px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: 33%;
    }
}