<app-navbar></app-navbar>
<div class="register-wrapper bg-pattern_set">
    <div class="container">
        <div class="row justify-content-center h-100">
            <div class="col-xl-11 col-lg-11 mx-auto">
                <div class="card m-4">
                    <div class="d-md-flex bg-white shadow-b-3 rounded-10 w-100 py-md-8 py-5">
                        <div class="col-lg-6 col-sm-12 mx-auto">
                            <div class="pic" *ngIf="!profilepic">
                                <label for="getFile"><img class="img-profile" alt="Profile Picture"
                                        src="{{defaultpic}}"></label>
                                <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" />
                            </div>
                            <div class="pic" *ngIf="profilepic">
                                <label for="getFile"><img class="img-profile" alt="Profile Picture"
                                        src="{{profilepic}}"></label>
                                <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" />
                            </div>

                        </div>
                        <div class="col-lg-6 col-sm-12 mt-5 mt-md-0 register">
                            <div class="col-lg-10 col-sm-12 mx-auto">
                                <h5 style="font-weight: bold">Edit Profile</h5>
                                <div class="tab-content mt-4" id="myTabContent">
                                    <form class="row" *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                                        <div class="col-xl-12">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">Full Name</label>
                                                <div class="form-group">
                                                    <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                                                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                                        <div *ngIf="f.fullname.errors.required">{{usernameValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">EmailID</label>
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly />
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                                        <div *ngIf="f.email.errors.email">{{emailpatternValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">UserID</label>
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="userid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }" readonly />
                                                    <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                                                        <div *ngIf="f.username.errors.required">{{userIdValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">Mobile Number</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <div class="align-items-center">
                                                <div class="input-group form-group">
                                                    <input ng2TelInput type="tel" style=" color: transparent;
                                                    text-shadow: 0 0 0 #000;" [ng2TelInputOptions]="{initialCountry: initialCountry}" formControlName="flag" (countryChange)="onCountryChange($event)" class="form-control" aria-hidden="true" />
                                                    <!-- <ngx-flag-picker [selectedCountryCode]="selectedCountryCode" class="form-control" [countryCodes]="countryCodes" (changedCountryCode)="changeSelectedCountryCode($event)">
                                                    </ngx-flag-picker> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-8 mt-2">
                                            <div class="align-items-center">
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                        <div *ngIf="f.mobile.errors.required">{{mobilenoValidation}}
                                                        </div>
                                                        <div *ngIf="f.mobile.errors.pattern">
                                                            {{mobilenodigitsValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">Date Of Birth</label>
                                                <div class="input-group form-group">
                                                    <input type="date" formControlName="dob" [max]="maxDate" style="padding-left: 4px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                                                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                                        <div *ngIf="f.dob.errors.required">{{dobValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">Gender</label>
                                                <div class="input-group form-group">
                                                    <select id="gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                        <!-- <option value="" selected disabled hidden>Select Gender</option> -->
                                                        <option *ngFor="let gend of gender" [value]="gend.option">
                                                            {{gend.option}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                        <div *ngIf="f.gender.errors.required">{{genderValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-16">Country</label>
                                                <div class="input-group form-group mb-0">
                                                    <select formControlName="country" [(ngModel)]="selectedcountry" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                                        <option [selected]="selectedcountry">
                                                            {{selectedcountry}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                        <div *ngIf="f.country.errors.required">{{countryValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="form-group mb-0 mt-4 d-flex justify-content-between align-items-center mb-0">
                                                <input type="submit" value="Save" class="btn btn-default font-weight-semibold px-4 py-2 fs-14" style="width: 100%" />
                                            </div>
                                        </div>
                                        <div *ngIf="error" class="col-xl-12 alert alert-danger mt-4" role="alert" style="text-align: center; margin-left: 16px; margin-right: 16px;">
                                            {{error}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>