    /* * {
        font-family: 'Roboto', sans-serif;
    }
     */

     .container{
         padding:32px 96px;
     }

    .uploadimg {
        margin: 24px;
        height: 51px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #0000003D;
        border-radius: 2px;
        opacity: 1;
        font-family: 'Roboto', sans-serif;
    }
    
    .img-sm {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-left: 32px;
    }
    
    .img-sm1 {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-left: 32px;
        padding: 4px;
    }
    
    .img {
        height: 420px;
        width: 100%;
        cursor: pointer;
    }
    
    .top {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .top-side-img {
        margin-right: 32px;
    }
    
    .titlename {
        font-size: 18px;
        color: #000000DE;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    
    .title-time {
        font-size: 14px;
        color: #707070;
        font-family: 'Roboto', sans-serif;
    }
    
    .titlename1 {
        font-size: 16px;
        color: #000000DE;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    
    .title-time1 {
        font-size: 14px;
        color: #707070;
        font-family: 'Roboto', sans-serif;
    }
    
    .card {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 3px #00000033;
        border-radius: 4px;
        opacity: 1;
        margin: 16px 24px;
    }
    
    .card-text {
        color: #0000008A;
        font-size: 16px;
        margin: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    
    .form-control {
        background: #FFFFFF;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #454F632B;
        border-radius: 2px;
        opacity: 1;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
    }
    
    .form-control:focus {
        border-color: lightgray;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .card-text1 {
        color: #00000099;
        font-size: 16px;
        margin-left: 16px;
        margin-bottom: 4px;
        padding-bottom: 4px;
        font-family: 'Roboto', sans-serif;
    }
    
    .btn-default {
        background: #112741 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 4px 12px;
        border-radius: 6px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    
    .feeddeletebutton {
        background: #112741 0% 0% no-repeat padding-box;
        border-radius: 6px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }
    
    .logoutbuttons,
    .deleteaccountbuttons {
        margin: 16px 8px 24px 8px;
    }
    
    .overlay {
        position: absolute;
        top: 35%;
        left: 36%;
        z-index: 1000;
    }
    
    .restImages {
        color: #fff;
        font-size: 35px;
    }


    /* fullimagepopup */
    .arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

#myCarousel {
    width: 100%;
    margin: auto;
}

.imgpopup {
    width: 100%;
    height: 480px;
}
    
    @media only screen and (max-width: 600px) {
        .img {
            height: 200px;
            width: 100%;
            margin-top: 4px;
            margin-bottom: 4px;
            cursor: pointer;
        }
    }