<div class="container">
    <div class="privacy">
        <div class="card">
            <div class="privacylist">
                <!-- <p class="header">Terms & Conditions</p> -->
                <div class="list" *ngFor="let fa of terms; let i=index;">
                    <!-- {{fa.discription}} -->
                    <p class="title-highlights" [innerHTML]="fa | linebreak"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>