* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
}

.privacy {
    margin: 24px 0px 16px 0px;
}

.privacylist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 8px;
}

.list {
    color: #707070;
    font-size: 20px;
    margin: 16px;
    text-align: justify;
}