<app-navbar></app-navbar>
<div class="container justify-content-center">
    <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="intoto">
            <div class="buttonslist">
                <div class="row">
                    <a class="courses-links" [routerLink]="['/intotoprivate']" routerLinkActive="active">Private</a>&nbsp;
                    <a class="courses-links" [routerLink]="['/intotopublic']" routerLinkActive="active">Public</a>
                </div>
            </div>
        </div>
    </div>
</div>