.intoto {
    margin: 24px 48px;
}

.courses-links {
    font-size: 14px;
    height: 33px;
    width: 79px;
    color: #272343;
    padding: 4px;
    text-align: center;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #BEBEBE;
    border-radius: 4px;
    text-decoration: none;
}

.active {
    font-size: 14px;
    height: 33px;
    width: 79px;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}