<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="changepassword col-lg-9">
            <div class="card">
                <div class="passwordlist">
                    <p class="header">Change Password</p>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="label">*Old Password</label>
                            <div class="input-group">
                                <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" formControlName="oldpassword" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: white;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }"
                                            (click)="toggleFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.oldpassword.errors.required">{{oldpasswordValidation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <a data-toggle="modal" data-target=".forgot-modal-sm" class="forgot font-weight-semibold" style="color: #143b6b; cursor: pointer;">Forgot Password?</a>
                        </div>

                        <div class="form-group">
                            <label class="label">*New Password</label>
                            <div class="input-group">
                                <input [type]="confirm_text_password ? 'text' : 'password'" formControlName="newpassword" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: white;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !confirm_text_password,'fa-eye': confirm_text_password }"
                                            (click)="toggleConfirmFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.newpassword.errors.required">{{newpasswordValidation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label">*Confirm Password</label>
                            <div class="input-group">
                                <input [type]="new_confirm_text_password ? 'text' : 'password'" formControlName="confirm_password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: white;">
                                            <i class="fa"
                                                [ngClass]="{'fa-eye-slash': !new_confirm_text_password,'fa-eye': new_confirm_text_password }"
                                                (click)="newtoggleConfirmFieldPassword()"></i>
                                        </span>
                                </div>
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_password.errors.required">{{confirmpasswordValidation}}</div>
                                    <div *ngIf="f.confirm_password.errors.Passwordmatcher">
                                        {{confirmpasswordvalidatorValidation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default height: 38px; btn-block">Change
                                Password</button>
                        </div>
                        <div *ngIf="error" class="alert alert-danger mt-4" role="alert" style="text-align: center;">
                            {{error}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- forgotpassword -->

<div class="modal fade forgot-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotModelLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <form class="row" id="loginForm" [formGroup]="forgotForm" (ngSubmit)="onforgotSubmit()">
                    <div class="col-xl-12">
                        <div class="align-items-center">
                            <label class="font-weight-semibold fs-14 text-dark">Enter Email</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitt && fp.email.errors }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="usernameclear()" style="cursor: pointer;background-color: white;">
            <img src="{{usernameCross}}" class="icons">
          </span>
                                    </div>
                                    <div *ngIf="submitt && fp.email.errors" class="invalid-feedback">
                                        <div *ngIf="fp.email.errors.required">{{emailValidation}}</div>
                                        <div *ngIf="fp.email.errors.email">{{emailpatternValidation}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 mt-2 align-items-center">
                        <div class="row logoutbuttons">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-secondary logoutbutton btn-block">Submit</button>
                            </div>
                        </div>
                        <div *ngIf="forgoterror" class="alert alert-danger mt-4" role="alert" style="text-align: center;">
                            {{forgoterror}}
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>