.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
}

.changepassword {
    margin: 24px 0px 16px 0px;
}

.passwordlist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.btn-default {
    background: #112741 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 48px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 48px;
    font-family: 'Roboto', sans-serif;
}

.cancelbutton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #112741;
    border-radius: 6px;
    color: #112741;
    margin: 2px;
    height: 41px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.logoutbutton {
    background: #112741 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #FFFFFF;
    margin: 2px;
    font-size: 18px;
    height: 41px;
    font-family: 'Roboto', sans-serif;
}

.input-group {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.form-control:focus {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #0000003D;
    border-radius: 2px;
    opacity: 1;
    height: 51px;
    color: #272343;
    font-size: 16px;
}

.input-group-text,
.input-group-prepend {
    background: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
}

.custom-control-label {
    font-size: 14px;
    color: #707070;
    cursor: pointer;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.label {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}