<div class="login-wrapper bg-pattern_set">
    <div class="topbar">
        <div class="card" style="height: 80px;">
            <div class="container">
                <img class="logo" src="{{ logo }}" alt="" />&nbsp;<span class="fctitle" style="font-weight: bold; font-size: 24px; font-family: 'Roboto', sans-serif; color: #112741;">FollowConnect</span>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding:32px 48px">
        <div class="row justify-content-center h-100">
            <div class="col-xl-11 col-lg-11 mx-auto">
                <div class="card m-4">
                    <div class="d-md-flex bg-white shadow-b-3 rounded-10 w-100 py-md-8 py-5">
                        <div class="col-lg-6">
                            <div class="mt-6">
                                <img src="{{ left_image }}" alt="" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5 mt-md-0">
                            <div class="col-md-10 mx-auto">
                                <div style="font-weight: bold; font-size: 24px; color: #112741;">Forget Password</div>
                                <div class="tab-content mt-4" id="myTabContent">
                                    <form class="row" id="loginForm" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                                        <div class="col-xl-12">
                                            <div class="align-items-center">
                                                <label class="font-weight-semibold fs-14 text-dark">Email</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="email" formControlName="email" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                        <div class="input-group-append" (click)="usernameclear()" style="cursor: pointer;">
                                                            <span class="input-group-text" style="background-color: white;">
                                <img src="{{usernameCross}}" class="icons">
                              </span>
                                                        </div>
                                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                            <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                                            <div *ngIf="f.email.errors.email">{{emailpatternValidation}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-2 align-items-center">
                                            <div class="form-group mb-0 mt-4 d-flex justify-content-between align-items-center mb-0">
                                                <input type="submit" value="Send Link" class="btn btn-default font-weight-semibold px-4 py-2 fs-14" style="width: 100%" />
                                            </div>
                                            <!-- <div class="text-center mt-3" style="color: #979797;">
                                                <label>Resend Link</label>
                                            </div> -->
                                            <div *ngIf="error" class="alert alert-danger mt-4" role="alert" style="text-align: center;">
                                                {{error}}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-spinner></app-spinner>