<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" color="#fff" size="default" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Please Wait...</p>
    <!-- <img src="{{ logo }}" /> -->
</ngx-spinner>