* {
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6060603A;
    opacity: 1;
    width: 100%;
}

.help {
    margin: 24px 0px 16px 0px;
}

.helplist {
    margin: 16px 24px;
}

.header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 8px;
}

.card-header {
    font-size: 16px;
    background: white;
    color: #000000;
}

.card-body {
    background: #F0F0F0;
    font-size: 16px;
    color: #707070;
}