<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="help col-lg-9">
            <div class="card">
                <div class="helplist">
                    <p class="header">Help and Support (FAQ)</p>
                    <div class="">
                        <div id="accordion" class="custom-accordion">
                            <div class="card" *ngFor="let fa of faqlist; let i=index;">
                                <div class="card-header" id="headingOne">
                                    <span data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne" style="cursor: pointer;">
                                               {{i+1}}. {{fa.qns}}   
                                                <span><img src="{{add}}" alt="logo" class="" style="float: right; cursor: pointer;"></span> </span>
                                </div>
                                <div [attr.id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ fa.ans }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner></app-spinner>