<div class="register-wrapper bg-pattern_set">
    <div class="topbar">
        <div class="card" style="height: 80px;">
            <div class="container">
                <img class="logo" src="{{ logo }}" alt="" />&nbsp;<span class="fctitle" style="font-weight: bold; font-size: 24px; font-family: 'Roboto', sans-serif; color: #112741;">FollowConnect</span>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding:32px 48px">
        <div class="row justify-content-center h-100 ">
            <div class="col-xl-11 col-lg-11 mx-auto">
                <div class="card m-4">
                    <div class="d-md-flex bg-white shadow-b-3 rounded-10 w-100 py-md-8 py-5 ">
                        <div class="col-lg-6 ">
                            <div class="mt-6 ">
                                <img src="{{ left_image }}" alt=" " class="img-fluid " />
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5 mt-md-0 register">
                            <div class="col-md-10 mx-auto">
                                <div style="font-weight: bold; font-size: 24px; font-family: 'Roboto', sans-serif; color: #112741;">
                                    Register</div>
                                <div class="tab-content mt-4" id="myTabContent">
                                    <form class="row " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                        <div class="col-xl-12">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Full Name</label>
                                                <div class="form-group">
                                                    <input type="text" formControlName="fullname" (change)="onChangeEvent1($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors } " />
                                                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback ">
                                                        <div *ngIf="f.fullname.errors.required">{{usernameValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">EmailID</label>
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="email" class="form-control" (change)="onChangeEvent2($event)" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback ">
                                                        <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                                        <div *ngIf="f.email.errors.email ">{{emailpatternValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">UserID</label>
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="username" style="background-color: white;" (focus)="onFocusEvent($event) " id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors}" readonly />
                                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                        <div *ngIf="f.username.errors.required">{{userIdValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="font-weight-semibold fs-14" style="color: #707070">Password</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input [type]="fieldTextTypePassword ? 'text' : 'password' " formControlName="password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.password.errors } " />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style="background-color: white;">
                                                                <i class="fa "
                                                                    [ngClass]="{ 'fa-eye-slash': !fieldTextTypePassword, 'fa-eye': fieldTextTypePassword }"
                                                                    (click)="toggleFieldPassword()"></i>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                            <div *ngIf="f.password.errors.required">
                                                                {{passwordValidation}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Confirm
                                                    Password</label>
                                                <div class="input-group form-group">
                                                    <input [type]="confirm_text_password ? 'text' : 'password' " formControlName="confirm_password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors}" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" style="background-color: white;">
                                                            <i class="fa "
                                                                [ngClass]="{ 'fa-eye-slash': !confirm_text_password, 'fa-eye': confirm_text_password } "
                                                                (click)="toggleConfirmFieldPassword()"></i>
                                                        </span>
                                                    </div>
                                                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback ">
                                                        <div *ngIf="f.confirm_password.errors.required">
                                                            {{confirmpasswordValidation}}</div>
                                                        <div *ngIf="f.confirm_password.errors.Passwordmatcher">
                                                            {{confirmpasswordvalidatorValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Mobile Number</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <div class="align-items-center">
                                                <div class="input-group form-group">
                                                    <input ng2TelInput type="tel" style=" color: transparent; text-shadow: 0 0 0 #000;" [ng2TelInputOptions]="{initialCountry: initialCountry} " formControlName="flag" (countryChange)="onCountryChange($event)" class="form-control" aria-hidden="true" />
                                                    <!-- <ngx-flag-picker [selectedCountryCode]="selectedCountryCode " class="form-control " [countryCodes]="countryCodes " (changedCountryCode)="changeSelectedCountryCode($event) ">
                                                    </ngx-flag-picker> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-8 mt-2">
                                            <div class="align-items-center">
                                                <div class="input-group form-group">
                                                    <input type="text" formControlName="mobile" class="form-control" maxlength="12" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                        <div *ngIf="f.mobile.errors.required">{{mobilenoValidation}}
                                                        </div>
                                                        <div *ngIf="f.mobile.errors.pattern">
                                                            {{mobilenodigitsValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Date Of Birth</label>
                                                <div class="input-group form-group">
                                                    <input type="date" formControlName="dob" [max]="maxDate" class="form-control" style="padding-left: 4px;" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                                                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                                        <div *ngIf="f.dob.errors.required">{{dobValidation}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mt-2 ">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Gender</label>
                                                <div class="input-group form-group">
                                                    <select id="gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                        <option value=" " selected disabled hidden>Select Gender
                                                        </option>
                                                        <option *ngFor="let gend of gender" [value]="gend.option ">
                                                            {{gend.option}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback ">
                                                        <div *ngIf="f.gender.errors.required">{{genderValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="align-items-center">
                                                <label class="label font-weight-semibold fs-14">Country</label>
                                                <div class="input-group form-group mb-0">
                                                    <select formControlName="country" [(ngModel)]="selectedcountry" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                                        <option [selected]="selectedcountry">
                                                            {{selectedcountry}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                        <div *ngIf="f.country.errors.required">{{countryValidation}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mt-2">
                                            <div class="mt-4" style="text-align: center;">
                                                <a routerLink="/terms" style="text-align: center; font-weight: 400;font-family: 'Roboto', sans-serif;color:#112741;">Terms and Conditions</a>
                                            </div>
                                            <div class="form-group mb-0 mt-4 d-flex justify-content-between align-items-center mb-0">
                                                <input type="submit" value="Sign Up" class="btn btn-default font-weight-semibold px-4 py-2 fs-18" style="width: 100% " />
                                            </div>

                                            <div class="text-center mt-4 ">
                                                <div style="color: #979797; font-size: 18px; font-weight: 400;font-family: 'Roboto', sans-serif;">
                                                    Already have an account?
                                                    <a routerLink="/login" class="signin font-weight-semibold" style="color:#112741; ">Sign In</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>