.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #4E4E4E29;
    opacity: 1;
}

.btn-default {
    background: #112741 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 48px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 48px;
}

.label {
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

.logo {
    border-radius: 50%;
    margin: 16px 8px;
}

.input-group {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.form-control {
    background: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #454F632B;
    border-radius: 2px;
    opacity: 1;
    height: 48px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.input-group-text,
.input-group-prepend {
    background: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}